[submodule ".yadm-project"]
	path = .yadm-project
	url = https://github.com/TheLocehiliosan/yadm.git
[submodule ".vim_runtime"]
	path = .vim_runtime
	url = https://github.com/amix/vimrc
[submodule ".tmux_runtime"]
	path = .tmux_runtime
	url = https://github.com/gpakosz/.tmux
